#login-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-image: url("/static/auth_app/images/f341204a7661e8c3ca4f07ea29b6e4cc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#login-row {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#login-left {
    min-height: 100dvh;
    color: #fff;
    /* background-image: url("/static/auth_app/images/f341204a7661e8c3ca4f07ea29b6e4cc.jpg"); */
    /* background-image: url("/static/auth_app/images/afd7aaff4e7aa5d000af8be87a20daba.jpg"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    width: 50%;
}

#login-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#login-left p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#login-right {
    /* background-image: url("/static/auth_app/images/f341204a7661e8c3ca4f07ea29b6e4cc.jpg"); */
    min-height: 100dvh;
    opacity: 100%;
    width: 50%;
    color: #fff;
}

#login-form {
    color: #fff;
}

#login-right a {
    color: #b76cf0;
    text-decoration: none;
}

#login-right a:hover {
    color: #1686A8;
    text-decoration: underline;
}

#login-form label {
    display: block;
    float: left;
}

#buttonSubmit {
    background-color: #50d14b;
    color: #fff;
}